<div class="container container-box">
  <p class="arrow" routerLink="/">&larr;</p>
  <div class="box-top">
    <p class="city-name">{{ citiesService.cities[cityCode].name }}</p>
    <p class="city-temp">{{ +citiesService.cities[cityCode].main.temp - 273.15 | number: '1.0-0' }} &deg;C</p>
    <p class="city-desc">{{ citiesService.cities[cityCode].weather[0].description | titlecase}}</p>
    <img class="weather-icon"
      [src]="'https://openweathermap.org/img/wn/'+citiesService.cities[cityCode].weather[0].icon+'@2x.png'" alt="icon">
  </div>
  <div class="box-bottom">
    <p class="city-id">ID: <span>{{ citiesService.cities[cityCode].id}}</span></p>
    <p class="city-dt">Last Updated At: <span>{{ citiesService.cities[cityCode].dt | date:'h:mm a'}}</span></p>
  </div>
</div>
